DB_URL=postgresql+asyncpg://postgres:567234@db:5432/contacts_app

JWT_SECRET=your_secret_key
JWT_ALGORITHM=HS256
JWT_EXPIRATION_SECONDS=3600

MAIL_USERNAME=example@email.com
MAIL_PASSWORD=your_password
MAIL_FROM=example@email.com
MAIL_PORT=465
MAIL_SERVER=smtp.example.com

MAIL_FROM_NAME=Contacts API
MAIL_STARTTLS=False
MAIL_SSL_TLS=True
USE_CREDENTIALS=True
VALIDATE_CERTS=True

CLD_NAME=your_cloud_name
CLD_API_KEY=your_api_key
CLD_API_SECRET=your_api_secret