# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Alembic cache
*.log

# Testing
.pytest_cache/

# Build
dist/
build/

# Uploaded files
uploads/

# Local DB files
*.sqlite3